<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link" routerLinkActive="active" data-toggle="tab" routerLink="students">Students</a>
    <a class="nav-item nav-link" routerLinkActive="active" data-toggle="tab" routerLink="subjects">Subjects</a>
    <a class="nav-item nav-link" routerLinkActive="active" data-toggle="tab" routerLink="assign">Assign Subjects</a>
    <a class="nav-item nav-link" routerLinkActive="active" data-toggle="tab" routerLink="addGrades">Subject Details</a>
    <a class="nav-item nav-link" routerLinkActive="active" data-toggle="tab" routerLink="studentDetails">Student Details</a>
  </div>
</nav>
<br><br>
<router-outlet></router-outlet>
